*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: url(./b9.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "anton";

}
.content{
    width: 850px;
    height: 480px;
    display: block;
    margin: 100px auto ;
    background:rgba(0, 0, 0, 0.466);
    border-radius: 30px;

}
.head{
    font-size: 30px;
    font-family: "anton";
    border-bottom-style: solid ;
    margin: 10px 5px;
    text-align: center;
    margin-bottom: 60px;
    color: #fffdd0;
    text-transform: uppercase;
    letter-spacing: 3px;

}
.loginbar{
    margin-left: 70px;
    max-width: 300px; 
    width: 100%;
    height: 50px;
    background:rgba(203, 207, 207, 0.816) ;
    display: grid;
    grid-template-columns: 15% 85%;
    border-radius: 20px;
}
.password{
    margin-left: 70px;
    max-width: 300px; 
    width: 100%;
    height: 50px;
    background:rgba(203, 207, 207, 0.816) ;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 15% 85% ;
}
.loginbar input{
    background:none;
    border: none;
    border-radius: 20px;
}
.password input{
    background: none;
    border: none;
    border-radius: 20px;
}
.term{
    margin-left: 70px;
    letter-spacing: 0.5px;
    color: #fffdd0;

}
.term a{
    text-decoration: none;
    color: royalblue;
}
button{
    margin-left: 70px;
    height: 49px;
    width: 150px;
    background-color: #4285F4;
    outline: none;
    border: none;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    transition: all 0.5s;
}
button:hover{
    background-color:#0047AB ;
}
.logo{
    position: absolute;
    display: flex;
    justify-content:end;
    align-items: center;
    bottom: 5%;
    right: 5%;
    height: 100px;
    width: 90vw;
    border-radius: 30px;
    text-align: end;
    background-color: white;
    text-transform:uppercase;
    letter-spacing: 2px;
}
img{
    height: 75px;
    width: 90px;
    margin-top: 9px;
    margin-left: 7px;
    margin-right: 59px;
}
